div {
    height: 100px;
    width: 100px;
    background-color: rgb(73, 199, 238);
}
.content {
    color: brown;
}

.myclass {
    background-color: cornsilk;
}

.dark{
    background-color: black;
    color: white;
}
.light{
    background-color: white;
    color: black;
}
